In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [4]:
train= pd.read_csv('data/train.csv')
wtrain= pd.read_csv('data/weather_train.csv')
building= pd.read_csv('data/building_metadata.csv')

In [5]:
train.head()

   building_id  meter            timestamp  meter_reading
0            0      0  2016-01-01 00:00:00            0.0
1            1      0  2016-01-01 00:00:00            0.0
2            2      0  2016-01-01 00:00:00            0.0
3            3      0  2016-01-01 00:00:00            0.0
4            4      0  2016-01-01 00:00:00            0.0

In [6]:
wtrain.head()

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,2016-01-01 00:00:00,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
1,0,2016-01-01 01:00:00,24.4,NaN,21.1,-1.0,1020.2,70.0,1.5
2,0,2016-01-01 02:00:00,22.8,2.0,21.1,0.0,1020.2,0.0,0.0
3,0,2016-01-01 03:00:00,21.1,2.0,20.6,0.0,1020.1,0.0,0.0
4,0,2016-01-01 04:00:00,20.0,2.0,20.0,-1.0,1020.0,250.0,2.6

In [7]:
building.head()

   site_id  building_id primary_use  square_feet  year_built  floor_count
0        0            0   Education         7432      2008.0          NaN
1        0            1   Education         2720      2004.0          NaN
2        0            2   Education         5376      1991.0          NaN
3        0            3   Education        23685      2002.0          NaN
4        0            4   Education       116607      1975.0          NaN

In [8]:
print('Shape of train data:',train.shape)
print('Shape of weather train data:', wtrain.shape)
print('Shape of building meta data:', building.shape)

Shape of train data: (20216100, 4)
Shape of weather train data: (139773, 9)
Shape of building meta data: (1449, 6)

In [9]:

from pandas.api.types import is_datetime64_any_dtype as is_datetime
from pandas.api.types import is_categorical_dtype

def reduce_mem_usage(df, use_float16=False):
    """ iterate through all the columns of a dataframe and modify the data type
        to reduce memory usage.        
    """
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
    
    #iterating over every column and finding the type of the column
    for col in df.columns:
      if is_datetime(df[col]) or is_categorical_dtype(df[col]):
            continue
      col_type = df[col].dtype
        
        #If the columns is not object
      if col_type != object:
          #Get the minimum and maximum value
            c_min = df[col].min()
            c_max = df[col].max()
            #If the type is int
            if str(col_type)[:3] == 'int':
              #If the min max values lies with thin the range of int8 type then assign the type as int8
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
              #If the min max values lies with thin the range of int16 type then assign the type as int16 
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
              #If the min max values lies with thin the range of int32 type then assign the type as int32
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
              #If the min max values lies with thin the range of int64 type then assign the type as int64
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
              #If the min max values lies with thin the range of float16 type then assign the type as float16
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
              #If the min max values lies with thin the range of float32 type then assign the type as float32
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
      else:
            df[col] = df[col].astype('category')

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df

In [10]:
train= reduce_mem_usage(train, use_float16=True)
wtrain= reduce_mem_usage(wtrain, use_float16=True)

Memory usage of dataframe is 616.95 MB
Memory usage after optimization is: 173.84 MB
Decreased by 71.8%
Memory usage of dataframe is 9.60 MB
Memory usage after optimization is: 2.59 MB
Decreased by 73.1%

In [11]:
#We will combine the all the data for train set in a single dataframe and test set in another dataframe
train_df= train.merge(building, on='building_id', how='left')

In [12]:
train_df=train_df.merge(wtrain, on=['site_id', 'timestamp'], how='left')

In [13]:
train_df.head()

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,0,2016-01-01 00:00:00,0.0,0,Education,7432,2008.0,NaN,25.0,6.0,20.0,NaN,1019.5,0.0,0.0
1,1,0,2016-01-01 00:00:00,0.0,0,Education,2720,2004.0,NaN,25.0,6.0,20.0,NaN,1019.5,0.0,0.0
2,2,0,2016-01-01 00:00:00,0.0,0,Education,5376,1991.0,NaN,25.0,6.0,20.0,NaN,1019.5,0.0,0.0
3,3,0,2016-01-01 00:00:00,0.0,0,Education,23685,2002.0,NaN,25.0,6.0,20.0,NaN,1019.5,0.0,0.0
4,4,0,2016-01-01 00:00:00,0.0,0,Education,116607,1975.0,NaN,25.0,6.0,20.0,NaN,1019.5,0.0,0.0

In [14]:
#Check null values
train_df.isnull().sum()

building_id                  0
meter                        0
timestamp                    0
meter_reading                0
site_id                      0
primary_use                  0
square_feet                  0
year_built            12127645
floor_count           16709167
air_temperature          96658
cloud_coverage         8825365
dew_temperature         100140
precip_depth_1_hr      3749023
sea_level_pressure     1231669
wind_direction         1449048
wind_speed              143676
dtype: int64

In [15]:
#We will break the timestamp into hour of the day, day of the week and month of the year

def break_datetime(df):
  df['timestamp']= pd.to_datetime(df['timestamp'])
  df['hour']= np.uint8(df['timestamp'].dt.hour)
  df['dayofweek']= np.uint8(df['timestamp'].dt.dayofweek)
  df['month']= np.uint8(df['timestamp'].dt.month)
  df['dayofyear']= np.uint16(df['timestamp'].dt.dayofyear)
  df['day']= np.uint16(df['timestamp'].dt.day)
  df['year']= np.uint16(df['timestamp'].dt.year)
  return df

In [16]:
train_df= break_datetime(train_df)

In [17]:
train_df.head()

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,...,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,hour,dayofweek,month,dayofyear,day,year
0,0,0,2016-01-01,0.0,0,Education,7432,2008.0,NaN,25.0,...,NaN,1019.5,0.0,0.0,0,4,1,1,1,2016
1,1,0,2016-01-01,0.0,0,Education,2720,2004.0,NaN,25.0,...,NaN,1019.5,0.0,0.0,0,4,1,1,1,2016
2,2,0,2016-01-01,0.0,0,Education,5376,1991.0,NaN,25.0,...,NaN,1019.5,0.0,0.0,0,4,1,1,1,2016
3,3,0,2016-01-01,0.0,0,Education,23685,2002.0,NaN,25.0,...,NaN,1019.5,0.0,0.0,0,4,1,1,1,2016
4,4,0,2016-01-01,0.0,0,Education,116607,1975.0,NaN,25.0,...,NaN,1019.5,0.0,0.0,0,4,1,1,1,2016

In [18]:
#checking the descriptive statistics for the target variable

train_df['meter_reading'].describe()

count    2.021610e+07
mean     1.988706e+03
std      1.532159e+05
min      0.000000e+00
25%      1.830000e+01
50%      7.877500e+01
75%      2.679840e+02
max      2.190470e+07
Name: meter_reading, dtype: float64

In [20]:
df1 = train_df.iloc[:10000,:]
print("Shape of new dataframes - {} ".format(df1.shape))

Shape of new dataframes - (10000, 22)

In [21]:
df1.head()

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,...,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,hour,dayofweek,month,dayofyear,day,year
0,0,0,2016-01-01,0.0,0,Education,7432,2008.0,NaN,25.0,...,NaN,1019.5,0.0,0.0,0,4,1,1,1,2016
1,1,0,2016-01-01,0.0,0,Education,2720,2004.0,NaN,25.0,...,NaN,1019.5,0.0,0.0,0,4,1,1,1,2016
2,2,0,2016-01-01,0.0,0,Education,5376,1991.0,NaN,25.0,...,NaN,1019.5,0.0,0.0,0,4,1,1,1,2016
3,3,0,2016-01-01,0.0,0,Education,23685,2002.0,NaN,25.0,...,NaN,1019.5,0.0,0.0,0,4,1,1,1,2016
4,4,0,2016-01-01,0.0,0,Education,116607,1975.0,NaN,25.0,...,NaN,1019.5,0.0,0.0,0,4,1,1,1,2016

In [22]:
# train_df.to_csv('out.csv')

In [23]:
#Check percentage of missing values in each column
def percent_missing_val(df):

  percent_missing = (df.isnull().sum() * 100) / len(df)
  missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})
  return missing_value_df
missing_value_train= percent_missing_val(train_df)

In [24]:
missing_value_train

                           column_name  percent_missing
building_id                building_id         0.000000
meter                            meter         0.000000
timestamp                    timestamp         0.000000
meter_reading            meter_reading         0.000000
site_id                        site_id         0.000000
primary_use                primary_use         0.000000
square_feet                square_feet         0.000000
year_built                  year_built        59.990033
floor_count                floor_count        82.652772
air_temperature        air_temperature         0.478124
cloud_coverage          cloud_coverage        43.655131
dew_temperature        dew_temperature         0.495348
precip_depth_1_hr    precip_depth_1_hr        18.544739
sea_level_pressure  sea_level_pressure         6.092515
wind_direction          wind_direction         7.167792
wind_speed                  wind_speed         0.710701
hour                              hour         0.000000
dayofweek                    dayofweek         0.000000
month                            month         0.000000
dayofyear                    dayofyear         0.000000
day                                day         0.000000
year                              year         0.000000

In [25]:
train_df.drop(['year_built', 'floor_count'], axis=1,inplace=True)

In [26]:
def nan_fillers(df):
  air_temp_df=df.groupby(['site_id', 'day', 'month'])['air_temperature'].transform('mean')
  df['air_temperature'].fillna(air_temp_df, inplace=True)

  dew_temp_df=df.groupby(['site_id', 'day', 'month'])['dew_temperature'].transform('mean')
  df['dew_temperature'].fillna(dew_temp_df, inplace=True)

  cloud_df=df.groupby(['site_id', 'day', 'month'])['cloud_coverage'].transform('mean')
  df['cloud_coverage'].fillna(cloud_df, inplace=True)

  sea_level_df=df.groupby(['site_id', 'day', 'month'])['sea_level_pressure'].transform('mean')
  df['sea_level_pressure'].fillna(sea_level_df, inplace=True)

  precip_df=df.groupby(['site_id', 'day', 'month'])['precip_depth_1_hr'].transform('mean')
  df['precip_depth_1_hr'].fillna(precip_df, inplace=True)

  wind_dir_df=df.groupby(['site_id', 'day', 'month'])['wind_direction'].transform('mean')
  df['wind_direction'].fillna(wind_dir_df, inplace=True)

  wind_speed_df=df.groupby(['site_id', 'day', 'month'])['wind_speed'].transform('mean')
  df['wind_speed'].fillna(wind_speed_df, inplace=True)


  return df

In [27]:
train_df= nan_fillers(train_df)

In [28]:
train_df.isnull().sum()

building_id                 0
meter                       0
timestamp                   0
meter_reading               0
site_id                     0
primary_use                 0
square_feet                 0
air_temperature             0
cloud_coverage        1397901
dew_temperature             0
precip_depth_1_hr     2825816
sea_level_pressure     833317
wind_direction              0
wind_speed                  0
hour                        0
dayofweek                   0
month                       0
dayofyear                   0
day                         0
year                        0
dtype: int64

In [29]:
train_df['cloud_coverage'].fillna(train_df['cloud_coverage'].median(), inplace=True)
train_df['sea_level_pressure'].fillna(train_df['sea_level_pressure'].median(), inplace=True)
train_df['precip_depth_1_hr'].fillna(train_df['precip_depth_1_hr'].median(), inplace=True)

In [31]:
!pip install holidays

Collecting holidays
  Downloading holidays-0.13-py3-none-any.whl (172 kB)
Collecting convertdate>=2.3.0
  Downloading convertdate-2.4.0-py3-none-any.whl (47 kB)
Requirement already satisfied: python-dateutil in c:\users\asus\anaconda3\lib\site-packages (from holidays) (2.8.2)
Collecting korean-lunar-calendar
  Using cached korean_lunar_calendar-0.2.1-py3-none-any.whl (8.0 kB)
Collecting hijri-converter
  Downloading hijri_converter-2.2.3-py3-none-any.whl (14 kB)
Collecting pymeeus<=1,>=0.3.13
  Using cached PyMeeus-0.5.11.tar.gz (5.4 MB)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil->holidays) (1.16.0)
Building wheels for collected packages: pymeeus
  Building wheel for pymeeus (setup.py): started
  Building wheel for pymeeus (setup.py): finished with status 'done'
  Created wheel for pymeeus: filename=PyMeeus-0.5.11-py3-none-any.whl size=730984 sha256=ed733596acdca907b342c39bea576faa94fbe79dd75b42c31dd2fcd018ebd01e
  Stored in directory: c:\users\asus\appdata\local\pip\cache\wheels\33\3d\82\4579e9cca41ff991140b2e050bc6df3a38292f26e4fa06b15d
Successfully built pymeeus
Installing collected packages: pymeeus, korean-lunar-calendar, hijri-converter, convertdate, holidays
Successfully installed convertdate-2.4.0 hijri-converter-2.2.3 holidays-0.13 korean-lunar-calendar-0.2.1 pymeeus-0.5.11

In [32]:
#Adding holiday features
import holidays

location_df= pd.DataFrame()
location_df['site_id']= np.arange(0,16)
location_df['city']= ['Orlando', 'Heathrow', 'Tempe', 'Washington', 'Berkeley', 'Southampton', 'Washington', 'Ottowa', 'Orlando', 'Austin', 'Saltlake',\
                  'Ottowa', 'Dublin', 'Minneapolis', 'Philadelphia', 'Rochestor']

location_df['country']= ['US', 'UK', 'US', 'US', 'US', 'UK', 'US', 'Canada', 'US', 'US', 'US', 'Canada', 'Ireland', 'US', 'US', 'US']

In [33]:
train_df=train_df.merge(location_df, on='site_id', how='left')

In [34]:
#geeksforgeeks.org/python-holidays-library/
UK=[]
US=[]
CA=[]
IRE=[]

for ptr in holidays.UnitedKingdom(years = 2016).keys():
    UK.append(str(ptr))
for ptr in holidays.UnitedKingdom(years = 2017).keys():
    UK.append(str(ptr))
for ptr in holidays.UnitedKingdom(years = 2018).keys():
    UK.append(str(ptr))
UK.append('2019-01-01')


for ptr in holidays.UnitedStates(years = 2016).keys():
    US.append(str(ptr))
for ptr in holidays.UnitedStates(years = 2017).keys():
    US.append(str(ptr))
for ptr in holidays.UnitedStates(years = 2018).keys():
    US.append(str(ptr))
US.append('2021-01-01')


for ptr in holidays.Canada(years = 2016).keys():
    CA.append(str(ptr))
for ptr in holidays.Canada(years = 2017).keys():
    CA.append(str(ptr))
for ptr in holidays.Canada(years = 2018).keys():
    CA.append(str(ptr))
CA.append('2021-01-01')


for ptr in holidays.Ireland(years = 2016).keys():
    IRE.append(str(ptr))
for ptr in holidays.Ireland(years = 2017).keys():
    IRE.append(str(ptr))
for ptr in holidays.Ireland(years = 2018).keys():
    IRE.append(str(ptr))
IRE.append('2021-01-01')

In [35]:
def holiday_filler(df):
  df['isHoliday']=[0]*(df.shape[0])
  df.loc[df['country']=='US', 'isHoliday']= (df['timestamp'].dt.date.astype('str').isin(US)).astype('int')
  df.loc[df['country']=='UK', 'isHoliday']= (df['timestamp'].dt.date.astype('str').isin(UK)).astype('int')
  df.loc[df['country']=='Canada', 'isHoliday']= (df['timestamp'].dt.date.astype('str').isin(CA)).astype('int')
  df.loc[df['country']=='Ireland', 'isHoliday']= (df['timestamp'].dt.date.astype('str').isin(IRE)).astype('int')

  return df

In [36]:
train_df= holiday_filler(train_df)

In [37]:
#adding season features
train_df['season']= train_df['timestamp'].apply(lambda x: 'Spring' if x.month==3 or x.month==4 or x.month==5 else 'Summer' if 
                                                x.month==6 or x.month==7 or x.month==8 
                                                else 'Autumn' if x.month==9 or x.month==10 or 
                                                x.month==11 else 'Winter')
#Adding day and night period features
train_df['IsDayTime']= train_df['timestamp'].apply(lambda x: 1 if x.hour >=6 and x.hour <=18 else 0)

In [38]:
#Adding relative humidity
train_df['relative_humidity']= 100*((np.exp((17.67*train_df['dew_temperature'])/
                                            (243.5+train_df['dew_temperature'])))/(np.exp((17.67*train_df['air_temperature'])/
                                                                                          (243.5+train_df['air_temperature']))))

In [39]:
train_df.head()

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,air_temperature,cloud_coverage,dew_temperature,...,month,dayofyear,day,year,city,country,isHoliday,season,IsDayTime,relative_humidity
0,0,0,2016-01-01,0.0,0,Education,7432,25.0,6.0,20.0,...,1,1,1,2016,Orlando,US,1,Winter,0,73.8125
1,1,0,2016-01-01,0.0,0,Education,2720,25.0,6.0,20.0,...,1,1,1,2016,Orlando,US,1,Winter,0,73.8125
2,2,0,2016-01-01,0.0,0,Education,5376,25.0,6.0,20.0,...,1,1,1,2016,Orlando,US,1,Winter,0,73.8125
3,3,0,2016-01-01,0.0,0,Education,23685,25.0,6.0,20.0,...,1,1,1,2016,Orlando,US,1,Winter,0,73.8125
4,4,0,2016-01-01,0.0,0,Education,116607,25.0,6.0,20.0,...,1,1,1,2016,Orlando,US,1,Winter,0,73.8125

In [40]:
#Dropping unnecessary columns
train_df.drop(['city','country'], axis=1, inplace=True)

In [41]:
train_df.head(50)

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,air_temperature,cloud_coverage,dew_temperature,...,hour,dayofweek,month,dayofyear,day,year,isHoliday,season,IsDayTime,relative_humidity
0,0,0,2016-01-01,0.0000,0,Education,7432,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
1,1,0,2016-01-01,0.0000,0,Education,2720,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
2,2,0,2016-01-01,0.0000,0,Education,5376,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
3,3,0,2016-01-01,0.0000,0,Education,23685,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
4,4,0,2016-01-01,0.0000,0,Education,116607,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
5,5,0,2016-01-01,0.0000,0,Education,8000,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
6,6,0,2016-01-01,0.0000,0,Lodging/residential,27926,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
7,7,0,2016-01-01,0.0000,0,Education,121074,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
8,8,0,2016-01-01,0.0000,0,Education,60809,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
9,9,0,2016-01-01,0.0000,0,Office,27000,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
10,10,0,2016-01-01,0.0000,0,Entertainment/public assembly,370773,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
11,11,0,2016-01-01,0.0000,0,Education,49073,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
12,12,0,2016-01-01,0.0000,0,Lodging/residential,37100,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
13,13,0,2016-01-01,0.0000,0,Education,99380,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
14,14,0,2016-01-01,0.0000,0,Education,86250,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
15,15,0,2016-01-01,0.0000,0,Office,83957,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
16,16,0,2016-01-01,0.0000,0,Education,54644,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
17,17,0,2016-01-01,0.0000,0,Office,15250,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
18,18,0,2016-01-01,0.0000,0,Education,111891,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
19,19,0,2016-01-01,0.0000,0,Office,18717,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
20,20,0,2016-01-01,0.0000,0,Education,110272,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
21,21,0,2016-01-01,0.0000,0,Office,7043,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
22,22,0,2016-01-01,0.0000,0,Education,3569,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
23,23,0,2016-01-01,0.0000,0,Education,130885,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
24,24,0,2016-01-01,0.0000,0,Education,105545,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
25,25,0,2016-01-01,0.0000,0,Office,103286,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
26,26,0,2016-01-01,0.0000,0,Office,26953,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
27,27,0,2016-01-01,0.0000,0,Lodging/residential,59200,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
28,28,0,2016-01-01,0.0000,0,Office,52957,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
29,30,0,2016-01-01,0.0000,0,Education,93897,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
30,31,0,2016-01-01,0.0000,0,Education,61904,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
31,32,0,2016-01-01,0.0000,0,Office,48392,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
32,33,0,2016-01-01,0.0000,0,Lodging/residential,38686,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
33,34,0,2016-01-01,0.0000,0,Lodging/residential,42731,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
34,35,0,2016-01-01,0.0000,0,Lodging/residential,41617,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
35,36,0,2016-01-01,0.0000,0,Lodging/residential,53130,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
36,37,0,2016-01-01,0.0000,0,Lodging/residential,53130,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
37,38,0,2016-01-01,0.0000,0,Office,12769,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
38,39,0,2016-01-01,0.0000,0,Office,64619,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
39,40,0,2016-01-01,0.0000,0,Entertainment/public assembly,26944,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
40,41,0,2016-01-01,0.0000,0,Office,93860,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
41,42,0,2016-01-01,0.0000,0,Other,226506,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
42,43,0,2016-01-01,0.0000,0,Retail,59071,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
43,44,0,2016-01-01,0.0000,0,Retail,283,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
44,45,0,2016-01-01,0.0000,0,Retail,15304,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
45,46,0,2016-01-01,53.2397,0,Retail,9045,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
46,47,0,2016-01-01,0.0000,0,Retail,31666,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
47,49,0,2016-01-01,0.0000,0,Lodging/residential,24456,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
48,50,0,2016-01-01,0.0000,0,Other,4698,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125
49,51,0,2016-01-01,0.0000,0,Parking,387638,25.0,6.0,20.0,...,0,4,1,1,1,2016,1,Winter,0,73.8125

In [42]:
train_df.isnull().sum()

building_id           0
meter                 0
timestamp             0
meter_reading         0
site_id               0
primary_use           0
square_feet           0
air_temperature       0
cloud_coverage        0
dew_temperature       0
precip_depth_1_hr     0
sea_level_pressure    0
wind_direction        0
wind_speed            0
hour                  0
dayofweek             0
month                 0
dayofyear             0
day                   0
year                  0
isHoliday             0
season                0
IsDayTime             0
relative_humidity     0
dtype: int64

In [ ]:
train_df.to_csv('cleaned.csv')